<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 
        去除浏览器默认样式
            主要就是margin padding
        -手工去除
        -引入·外部css
     -->
    <link rel="stylesheet" href="CSS/reset.css">
    <style>
        .box1{
            width: 200px;
            height: 200px;
            border:5px red solid;
        }
        /* *{
            margin:0;
            padding:0;
            list-style: none;
        } */
    </style>
</head>
<body>
    <div class="box1"></div>
    <p>Ldita mat exp, tempora laudantium quis.</p>
    <p>Ldita mat exp, tempora laudantium quis.</p>
    <p>Ldita mat exp, tempora laudantium quis.</p>
    <ul>
        <li>ashfc</li>
        <li>jcjzknc</li>
        <li>zhckl</li>
    </ul>
</body>
</html>