<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-username>UploadServlet</servlet-username>
        <servlet-class>upload.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-username>UploadServlet</servlet-username>
        <url-pattern>/uplaod</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-username>DownLoadServlet</servlet-username>
        <servlet-class>download.DownLoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-username>DownLoadServlet</servlet-username>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
</web-app>